[Unit]
Description=Mix actual audio output with Audio Relay output
Requires=pipewire.service
After=pipewire.service

[Service]
Type=oneshot
# -n: no espera el lock
# -E 0: si el lock ya está tomado, sale con código 0 (no marca error)
ExecStart=/usr/bin/flock -n -E 0 /run/user/1000/relay-audio-mixer.lock /usr/local/bin/relay-audio-mixer.sh
Restart=no